<div class="page-header">
  <h1>Om fællesrummet</h1>
</div>

<p>I efteråret 2009 overtog de fire foreninger, G/F Kirsebærparken 1, G/F Kirsebærparken 2, G/F Kirsebærparken 3 og E/F Solbærparken, to kælderlokaler i Solbærparken, Poul Reichhardts Vej 6, kælderen.</p>

<p>En del personer har været involveret i projektet. Feltet blev snævret ind, da det blev nødvendigt at oprette en decideret styregruppe med en person fra hver forening.</p>

<p>Der blev tidligt holdt åbent hus, men vi kom ikke formålet med lokalerne nærmere og vi har derfor hele tiden arbejdet med at skabe et fælleslokale, som medlemmerne har mulighed for at låne til fester, møder og lignende.</p>

<p>Lokalet er indrettet til 50 personer med borde, stole og service. Der er køkken med køleskabe og fryser. I lokalerne er der toiletter med puslebord. Lokalerne udstyret med eget musikanlæg, som man blot tilslutter en musikafspiller (cd, pc, telefon eller mixer).</p>

<p>Desuden er der adgang til det andet lokale, som dog er tomt.</p>