<div class="page-header">
  <h1>Rengøring</h1>
</div>

<h3>Køkken</h3>
<ul>
  <li>Køkkenborde vaskes af</li>
  <li>Kogeplader og ovne inkl. plader og riste renses og vaskes af</li>
  <li>Service og køkkenredskaber vaskes op og sættes på plads (eventuelt ituslået service sættes frem på køkkenbordet)</li>
  <li>Opvaskemaskinen tømmes og filteret rengøres</li>
  <li>Køle- og fryseskabe tømmes og rengøres indvendigt og udvendigt, og efterlades slukkede med lågerne stående på klem</li>
  <li>Kaffemaskine og termokander rengøres</li>
</ul>

<h3>Toiletter</h3>
<ul>
  <li>Håndvaske og toiletter vaskes af</li>
  <li>Toiletkummer renses</li>
  <li>Spejle pudses</li>
  <li>Gulve vaskes</li>
</ul>

<h3>Lokale</h3>
<ul>
  <li>Borde og stole vaskes af</li>
  <li>Stole stables og borde anbringes som ved modtagelsen</li>
  <li>Gulve støvsuges/fejes og vaskes</li>
</ul>

<h3>Generelt</h3>
<ul>
  <li>Affald fjernes fra fælleslokalet, trappeopgange, elevatorer samt fortovsarealet foran indgang til</li>
</ul>