<div class="page-header">
  <h1>Pris for leje af fællesrummet</h1>
</div>

<p>Det koster <b><%= number_to_currency(BOOGIE_SETTINGS[:booking_fee]/100) %></b> at leje fællesrummet fra kl. 10 på dagen til kl. 10 den følgende dag.</p>
