<div class="page-header">
  <h1>Husorden for fællesrummet – bør læses grundigt</h1>
</div>
<ol>
  <li>Hvis disse regler ikke overholdes, mister man retten til at benytte fælleslokalet.</li>
  <li>Lokalet må benyttes indtil kl. 23 fredag og lørdag (døre og vinduer skal holdes lukket fra kl. 22) og indtil kl. 22 alle andre dage. Strømmen til lokalet afbrydes 20 min. efter de angivne klokkeslæt med mindre andet aftales. </li>
  <li>Døre ud til opgangene skal altid være lukket.</li>
  <li>Der skal udvises hensyn og lydhørhed overfor beboerne i opgangene. Ophold og støjende adfærd på fortovet foran bygningen, i trappeopgange og i cykelkælderen må ikke finde sted.</li>
  <li>Rygning i fælleslokale, trappeopgange, på fortov og nær bygningen er ikke tilladt – der henvises til arealet ved parkeringshuset. Evt. cigaretskod og andet affald skal fjernes.</li>
  <li>Musik må kun afspilles på fælleslokalets musikanlæg via det tilsluttede 3,5 mm stik. Sig-nalkilden skal være telefon eller mp3-afspiller. Større forstærkede anlæg må ikke benyt-tes. Pga. dårlig netforbindelse kan det være en god ide at downloade en playliste.</li>
  <li>Der skal støvsuges, vaskes gulv, rengøres toiletter, tømmes opvaskemaskine og ryd-des op og gøres behørigt rent efter brug. Er lokalet og omgivelserne ikke rengjort tilfredsstillende tilkommer der ekstra regning på 1.000 kr.</li>
  <li>Fælleslokalet er af brandmyndighederne godkendt til maksimalt 50 personer, hvorfor der aldrig må opholde sig mere end 50 personer i fælleslokalet.</li>
  <li>Brugere skal orientere sig om flugtveje og sikre at disse ikke blokeres.</li>
</ol>
