<div class="page-header">
  <h1>Husorden</h1>
</div>
<p>Fælleslokalet er af brandmyndighederne godkendt til maksimalt 50 personer, hvorfor der aldrig må
opholde sig mere end 50 personer i fælleslokalet</p>

<p>Brugere skal orientere sig om flugtveje og sikre at disse ikke blokeres</p>

<p>Musik, sang og støjende adfærd må kun finde sted for lukkede vinduer og døre</p>

<p>Ophold og støjende adfærd i trappeopgange må ikke finde sted</p>

<p>Rygning i fælleslokale, trappeopgange og nær bygningen er ikke tilladt – der henvises til arealet ved
parkeringshuset</p>

<p>Musik må kun afspilles på fælleslokalets musikanlæg (signalkilde som f.eks. bærbar PC, CD- eller
MP3-afspiller medbringes af lejer og kan tilsluttes i køkkenet!)</p>

<p>Efter kl. 23 må musik kun spilles med lukkede vinduer</p>