<div class="page-header">
  <h1>Betingelser for leje</h1>
  <p><i>version 1</i></p>
</div>

<p>Fællesrummet kan kun lejes af beboere i rækkehusene (Kirsebærparken 1, 2 og 3) og Solbærparken.</p>
<p>Ved booking af lokalet trækkes pengene fra din konto med det samme og det er ikke muligt at få pengene tilbage, selv om du ikke bruger lokalet den dag du har booket det.</p>
<p>Det skyldes, at fællesrummet drives af frivillige beboere, der har masser af andre ting at tage sig til. Derfor er systemet lavet så der er så lidt administration som muligt.</p>

<p>Ved leje af lokalet forpligter man sig til at overholde ordens reglerne som du kan læse <%= link_to 'her', rules_path %>. Overholdes reglerne ikke kan man miste muligheden for at leje lokalerne fremover.</p>

<h3>Fællesarrangementer</h3>
<p>Det er muligt at låne fællesrummet til arrangementer, hvor alle medlemmer af en eller flere af en af grundejerforeningerne er inviteret, herunder
madklubber.</p>
<p>Her skal ordens reglerne selvfølgelig også overholdes og der skal samtidig betales for vand, el og varme. (50 kroner pr på begyndt time)</p>
